
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

a{
    text-decoration: none;
}

h1,
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 110.02%;
    letter-spacing: 0.01em;
    color: #151515;
}
h3{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 120%;
    letter-spacing: 0.01em;

    color: #151515;
}
.pad-top{
    padding-top: 9.375rem
}
.pad{
    padding: 9.375rem 0;
}
@media (max-width:1602px) {
    *{
        font-size: calc(16 * 100vw / 1600);
    }
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 12.5rem ;
}
.hero {
    background: #DCFFCD;
    position: relative;
    border-radius: 1.25rem;
    padding: 4.375rem 0;
}
.hero::before {
    content: '';
    position: absolute;
    top: 4.375rem ;
    right: 3vw;
    height: 14.81rem ;
    width: 18rem;
    background-image: url('/img/hero.svg');
    background-size: cover;
}   
.hero__body {
    
}
.hero__body h1{
    
    max-width: 64.375rem;
}
.hero__body span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #151515;
    margin-bottom: 0.625rem;
    display: inline-block;
}
.hero__body {}

.hero__button {
    margin-top: 1.25rem;
    position: relative;
    padding-top: 3.125rem;
}
.hero__button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #151515;
}
.hero__button a {
    display: inline-block;
    padding: 1.125rem 8.4375rem;
    background: #F3FCF3;
    border: 1px solid #151515;
    border-radius: 3.125rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #151515;
}

/*----------------------------- STORY --------------------------------------*/

.story {
}

.story__body {
}
.story__body h2{
    position: relative;
    display: block;
    padding-bottom: 1.25rem;
}
.story__body h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #01A25780;
}

.story__row {
    margin-top: 3.125rem;
}
.story__col {
    display: grid;
    grid-template-columns: repeat(2,calc(100% / 2 - 0.625rem));
    justify-content: space-between;
}
.col-story{
}

.col-story:not(:last-child){
    margin-bottom: 3.125rem;
}
.col-story__info span:not(:last-child){
    margin-bottom: 0.625rem;

}
.col-story__info span{
    display: block;
}
.col-story__info span:nth-child(1) {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 120%;
    /* identical to box height */


    color: #696969;
}
.col-story__info span:nth-child(2) {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 110%;
    letter-spacing: 0.01em;

    color: #151515;

}
.col-story__text-24 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.01em;

    color: #151515;
}
.col-story__text-16 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;

    color: #696969;
}
.col-story__text-16 {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

/*----------------------- Goal -------------------------*/

.goal {
    background: #DCFFCD;
    position: relative;
    border-radius: 1.25rem;
    padding: 5rem 0;
}
.goal__body {
}
.container {
}
.goal__row {
    display: flex;
    flex-direction: row;
    gap: 4.375rem;
}
.goal__col:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.goal__col{
    flex: 1 0 calc(100% / 2 - 2.1875rem);
}
.goal__col li{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    border-top: 1px solid #151515;
    border-bottom: 1px solid #151515;
    color: #151515;
    padding: 0.95rem 0 0.95rem 1.125rem;
    
    list-style: none;
}
.goal__col li:first-child{
    padding-top: 0;
    border-top: 0;
}
.goal__col li:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}   
.goal__col li::before{
    content: '';
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    top: 1.3rem;
    left: 0;

    background: rgba(1, 162, 87, 0.5);
    border-radius: 50%;
}
.goal__col li:first-child:before{
    top: 0.3rem;
}
.col-goal__images {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.col-goal__images img{
    height: 16.8125rem;
    width: calc(100% / 2 - 0.625rem);
}


/*----------------------------- Project ----------------------------*/

.project {
}
.project__body {
}

.project__tabs {
    position: relative;
    padding-bottom: 1.875rem;
    margin-bottom: 3.125rem;
}
.project__tabs::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(1, 162, 87, 0.5);
}
.project__tabs span:first-child{
    margin-left: calc(50% + 0.625rem);
}
.project__tabs span{
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #151515;
}
.project__tabs span:not(:last-child){
    margin-right: 4.5rem;
}
.project__tabs span.active{
    position: relative;
}
.project__tabs span.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-1.875rem - 0.5px);
    width: 100%;
    height: 6px;
    background: rgba(1, 162, 87, 0.5);
border-radius: 1px 1px 0px 0px;
}
.project__contents {
    position: relative;
}
.project__content {
    display: none;
}
.project__content.content-show{
    display: block;
}
.project__row {
    display: flex;
    border-radius: 1.25rem;
    background: #DCFFCD;
    padding: 0.625rem;
}
.project__row:not(:last-child){
    margin-bottom: 1.25rem;

}
.project__col:nth-child(1){
    flex: 0 1 25rem;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    border-radius: 1.25rem;
}
.project__col:nth-child(2){
    flex: 0 1 30rem;
    padding: 2.5rem 0;
    margin-left: 2.5rem;
}
.project__col img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.project__col img:not(:first-child){
    display: none;
}
.col-project {
}
.project__content h3{
    margin-bottom: 1.875rem;
}
.col-project__short-desc {

}
.col-project__desc {
    display: none;
}
.col-project__button{
    margin-top: 2.5rem;
}
.col-project__button button{
    font-weight: 500;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 0.01em;
    padding: 1rem 5.5rem;
    color: #151515;
    border: solid #151515 1px;
    border-radius: 3.125rem;
    background: #fff;
    display: inline-block;
    cursor: pointer;
}

.popup-project{

    position: absolute;
    top: -3.125rem;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}
.popup-project__bg{
    
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.5);
    top: 0;
    left: 0;
   
    cursor: pointer;
}

.popup-project__close{
    cursor: pointer;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 3.125rem;
    right: 3.125rem;
  
}
.popup-project.action {
    visibility: visible;
    opacity: 1;
}
.popup-project__close::before,
.popup-project__close::after{
    content: '';
    position: absolute;
    width: 3.94rem;
    height: 2px;
    top: 1.5rem;
    right: -0.4rem;
    transform: rotate(-45deg);
    background: #151515;
}
.popup-project__close::after{
    transform: rotate(45deg);
}
.popup-project__body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100vw - 25rem);
    padding: 3.125rem;
    background: #F3FCF3;
    border-radius: 1.25rem;
    z-index: 999999;
}
.popup-project {
}
.popup-project__row {
    margin-top: 3.125rem;
    display: flex;
    gap:1.25rem
}
.popup-project__col {
    flex: 0 1 calc(100% / 2 - 0.625rem)
}
.col-popup-project__images {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 1.25rem;
}
.col-popup-project__images img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.col-popup-project__images img.show{
    visibility: visible;
    opacity: 1;
}
.col-popup-project {
}
.col-popup-project__text {
}
.col-popup-project__text p:not(:last-child){
    margin-bottom: 1.25rem;
}
.col-popup-project__carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel-prev,
.carousel-next{
    position: absolute;
    height: 3.125rem;
    width: 3.125rem;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.carousel-prev{
    left: 1.25rem;
}
.carousel-next{
    right: 1.25rem;
}

/*------------------------ PARTNERS ----------------------------*/

.partners {
}
.partners__body {
}

.partners__row {
    display: grid;
    grid-template-columns: repeat(4,calc(100% / 4 - 1rem));
    grid-gap:1.25rem;
}
.partners__col{
    height: 15.625rem;
    
}
.partners__col img{
    width: 6.25rem;
    max-width: 65%;
    max-height: 65%;

}
.partners__col:not(:first-child) {
    border: 1px solid #01A25780;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners__col:nth-child(1),
.partners__col:nth-child(7){
    grid-column: 1/3;
}
.partners__col:nth-child(5){
    grid-column: 2/4;
}
.partners__col:nth-child(8){
    grid-column: 3/5;
    border-radius: 0 0 1.25rem 0;
}
.partners__col:nth-child(7){
    border-radius: 0 0 0 1.25rem;
}
.partners__col:nth-child(2){
    border-radius: 1.25rem 0px 0px 0;
}
.partners__col:nth-child(3){
    border-radius: 0px 1.25rem 0px 0px;
}
.partners__col:nth-child(4){
    border-radius: 1.25rem 0px 0px 0;
}
